fastapi>=0.110.0
uvicorn>=0.28.0
pillow>=10.2.0
opencv-python>=4.9.0.80
scikit-image>=0.22.0
sentence-transformers>=2.5.1
google-generativeai>=0.4.0
numpy>=1.26.4
python-multipart>=0.0.9
python-dotenv>=1.0.1
